html, body{
    background-color: rgba(247, 247, 247, 1);
}
.bg-color{
        background-color: rgba(0, 85, 150, 1);
}
.img{
    background-color: rgb(217, 217, 217);
    height: 70px;
}
.img span{
    position: relative;
    top: 31%;
    left: 3%;
    transform: translate(-31%, -3%);
}
.content-box{
    height: 600px;
}
.img-big{
    background-color: rgb(217, 217, 217);
    height: 150px;
}
.border-top.cust {
    border-top: 2px solid #6c757d !important;
}
.border-bottom.cust {
    border-bottom: 2px solid #6c757d !important;
}
.border-left.custom {
    border-left: 2px solid #6c757d !important;
}
@media screen and (max-width:1024px) {
    .border-left.custom {
        border-left: 0 !important;
    } 
}